body{
  background-color: #21252B;
}

.mainContentBox{
  font-family: helvetica  ;
  background: #3E4551;
  color: #ddd;
  text-align: center;
  margin: auto;
  width: 70%;
  padding: 1% 3% 1% 3%;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
}

.iconImage{
  width:20%;
  min-width:75px;
  border-radius:10px;
}

/* navigation */

.navButton:focus {
  outline-color: #ddd;
  outline-style: dotted;
  outline-width: 1px;
}

.navButton:active {
  border: none;
  outline: none;
  color: #21252B;
  background-color: #5B6577;
}

.navButton:hover {
  background-color: #5B6577;
  cursor: pointer;
}

.navButton{
  cursor: pointer;
  border:none;
  background-color: #21252B;
  color: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation{
  line-height: .2em;
  background-color: #21252B;
  color: white;
  padding: 4px 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* noslect: makes buttons unselectable */

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
