/*
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * Copyright © 2024 RemasteredArch
 *
 * This file is part of `remasteredarch.net`.
 *
 * `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
 * of the GNU Affero General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or (at your option) any later version.
 *
 * `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.
 */

:root {
    /* Colors from Catppuccin Mocha
     * Copyright 2021 Catppuccin
     * MIT license
     * <https://catppuccin.com/> */
    --color-base: #1E1E2E;
    --color-text: #CDD6F4;
    --color-subtext-1: #BAC2DE;
    --color-overlay-1: #7F849C;
    --color-sky: #89DCEB;
    --color-lavender: #B4BEFE;
    --color-blue: #89B4FA;

    --color-link: var(--color-blue);
    --color-link-visited: var(--color-lavender);
    --color-link-hover: var(--color-sky);

    background: var(--color-base);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.font-color-text {
    color: var(--color-text);

}

.font-color-subtext {
    color: var(--color-overlay-1);

    --color-link: var(--color-overlay-1);
    --color-link-visited: var(--color-link);
}

.bg-color-base {
    background-color: var(--color-base);
}

.main-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: space-between;
    gap: 5rem;
    padding: 3rem;
    /* This is probably super unstable. */
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 3rem;

    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    justify-content: space-between;
    gap: 2rem;

    width: 100%
}

.contact-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    row-gap: 1rem;

    padding: 0;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 4rem;
}

.bio p {
    margin-top: 1rem;
    max-width: 45ch;
}

.site-nav-links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 1rem;

    list-style-type: square;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 1rem;
}

a {
    color: var(--color-link);
    text-decoration-style: dotted;
}

a:visited {
    color: var(--color-link-visited);
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    text-decoration-style: solid;
}
