---
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// Copyright © 2024 RemasteredArch
//
// This file is part of `remasteredarch.net`.
//
// `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License along with
// `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.

import Page from "../layouts/Page.astro";
import NavHeader from "../components/NavHeader.astro";
import Project from "../components/Project.astro";
import ProjectList from "../components/ProjectList.astro";

import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Page title="Projects" author="RemasteredArch" description="RemasteredArch's projects">
    <NavHeader title="Projects" />
    <main>
        <ProjectList>
            {projects.map((p) => <Project project={p} />)}
        </ProjectList>
    </main>
</Page>

<style>
    main {
        width: 100%;
    }
</style>
