---
import type { CollectionEntry } from "astro:content";

interface Props {
    blog_post: CollectionEntry<"blog">;
}

const { slug } = Astro.props.blog_post;
const { title, description, published, last_updated, tags } = Astro.props.blog_post.data;
---

<li class="card">
    <h3><a href={`/blog/${slug}`}>{title}</a></h3>
    <p>{description}</p>
    <small
        >Published: {
            published.toLocaleDateString("en-US", {
                month: "long",
                day: "numeric",
            })
        }</small
    >
    {
        last_updated && (
            <small>
                Last updated:{" "}
                {last_updated.toLocaleDateString("en-US", {
                    month: "long",
                    day: "numeric",
                })}
            </small>
        )
    }
    <ul>
        {
            tags.map(({ id }) => (
                <li>
                    <small>{id}</small>
                </li>
            ))
        }
    </ul>
</li>

<style>
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        row-gap: 1rem;
        margin-bottom: 2rem;

        width: 100%;
        max-width: 35ch;
    }

    h2 {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        align-content: start;
        justify-content: start;
        gap: 1rem;

        width: 100%;
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
</style>
