---
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// Copyright © 2024-2026 RemasteredArch
//
// This file is part of `remasteredarch.net`.
//
// `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License along with
// `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.

import type { CollectionEntry } from "astro:content";
import BlogPostPreview from "./BlogPostPreview.astro";

interface Props {
    posts: CollectionEntry<"blog">[];
}

const { posts: post_list } = Astro.props;

// Sort by date, with the most recent post first.
post_list.sort(
    (a, b) => new Date(a.data.published.iso).getTime() - new Date(b.data.published.iso).getTime(),
);

// Chunk the posts by year.
let posts: { year: string; posts: CollectionEntry<"blog">[] }[] = [];

let next = post_list.pop();
while (next) {
    // Get the year embedded in the datetime, in its timezone.
    const year = next.data.published.iso.slice(0, 4);
    let inserted = false;

    for (let list of posts) {
        if (list.year !== year) continue;

        list.posts.push(next);
        inserted = true;
        break;
    }

    if (!inserted) {
        posts.push({
            year,
            posts: [next],
        });
    }

    next = post_list.pop();
}
---

<ul>
    {
        posts.map((year) => (
            <li>
                <h3>{year.year}</h3>
                <ul class="posts">
                    {year.posts.map((post) => (
                        <BlogPostPreview blog_post={post} />
                    ))}
                </ul>
            </li>
        ))
    }
</ul>

<style>
    ul {
        padding: 0;
        width: 100%;
        list-style: none;
    }

    .posts {
        border-left: 1px dashed;
        padding-left: 3rem;
    }

    h3 {
        margin-bottom: 1.5rem;
    }
</style>
