---
// SPDX-License-Identifier: AGPL-3.0-or-later
//
// Copyright © 2024 RemasteredArch
//
// This file is part of `remasteredarch.net`.
//
// `remasteredarch.net` is free software: you can redistribute it and/or modify it under the terms
// of the GNU Affero General Public License as published by the Free Software Foundation, either
// version 3 of the License, or (at your option) any later version.
//
// `remasteredarch.net` is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
// PURPOSE. See the GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License along with
// `remasteredarch.net`. If not, see <https://www.gnu.org/licenses/>.
---

<li>
    <div aria-hidden="true" class="contact-icon">
        <slot name="icon" />
    </div>
    <div><slot name="text" /></div>
</li>

<style>
    .contact-icon {
        margin: auto;
    }

    li {
        display: grid;
        width: 100%;
        grid-template-columns: 2em 1fr;
        column-gap: 1rem;
    }
</style>
