---

---

<div>
    <slot />
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        align-content: start;
        justify-content: center;
        gap: 2rem;

        width: 100%;
    }
</style>
