---
import type { CollectionEntry } from "astro:content";
import BlogIcon from "./icons/BlogIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import WebsiteIcon from "./icons/WebsiteIcon.astro";

interface Props {
    project: CollectionEntry<"projects">;
}

const { title, description, links: raw_links } = Astro.props.project.data;

const icon_map = {
    "blog post": BlogIcon,
    git: GitIcon,
    website: WebsiteIcon,
};

const links = raw_links.map(({ type, url }) => {
    return { Icon: icon_map[type], url };
});
---

<li class="card">
    <h2>{title}</h2>
    <p>{description}</p>
    <ul>
        {
            links.map(({ Icon, url }) => (
                <li>
                    <a href={url}>
                        <Icon />
                    </a>
                </li>
            ))
        }
    </ul>
</li>

<style>
    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
        justify-content: start;
        row-gap: 1rem;
        padding: 1.5rem;

        width: 100%;
        max-width: 35ch;
        border-radius: 1rem;
        border-bottom: 1px solid var(--color-overlay-1);
    }

    h2 {
        align-self: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        align-content: start;
        justify-content: start;
        gap: 1rem;

        width: 100%;
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
</style>
